In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

alfabe = ['A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J']
veriCer = pd.DataFrame(index=alfabe)

veriCer['Asal Sayılar'] = [2,3,5,7,11,13,17,19,23,29]
veriCer['Fibonacci'] = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
veriCer

   Asal Sayılar  Fibonacci
A             2          0
B             3          1
C             5          1
D             7          2
E            11          3
F            13          5
G            17          8
H            19         13
I            23         21
J            29         34

In [2]:
df = pd.read_csv('train.csv', index_col=0)
df.groupby(by='sex').mean()['age']

sex
female    27.915709
male      30.726645
Name: age, dtype: float64

In [3]:
survival_ratio_over_30=df[df['age'] > 30].loc[1].count()['name']/df[df['age'] > 30].count()['name']
print("Survival Ratio over 30 years old: {}".format(survival_ratio_over_30))
survival_ratio_for_females=df[df['sex'] == 'female'].loc[1].count()['name']/df[df['sex'] == 'female'].count()['name']
print("Female Survival Ratio : {}".format(survival_ratio_for_females))
survival_ratio_for_male=df[df['sex'] == 'male'].loc[1].count()['name']/df[df['sex'] == 'male'].count()['name']
print("Male Survival Ratio : {}".format(survival_ratio_for_male))

Survival Ratio over 30 years old: 0.4065573770491803
Female Survival Ratio : 0.7420382165605095
Male Survival Ratio : 0.18890814558058924